@import '../../abstract/global';

@mixin keyframes($animation-name){
    @keyframes #{$animation-name}{
        from{
            opacity: .1;
            margin-left: 200px;
        }
        to{
            opacity: 1;
            width: 300px;
        }
    }
}

@mixin keyframes-2($animation-name){
    @keyframes #{$animation-name}{
        from{
            opacity: 0.1;
        }
        to{
            opacity: 1;
        }
    }
}

main{
    width: 100vw;
    height: 100vh;
    padding: 35px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    img{
        margin-top: -20px;
        animation-name: emerge;
        animation-duration: .5s;
        @include keyframes(emerge);
    }
    
    h1{
        font-size: 2.4rem;
        margin-top: 7px;

        @media (max-width: 326px) {
            font-size: 2.3rem;
        }
    }

    p{
        font-size: 1.8rem;
        font-weight: 400;
        margin-top: 26px;
        width: 275px;
        text-align: center;
    }

    .indicators{
        margin-top: 64px;
        display: flex;
        column-gap: 17px;

        .indicator{
            width: 12px;
            height: 12px;
            border: 1px solid #000000;
            border-radius: 10px;

            &:nth-child(2){
                border: none;
                background-color: $cor-primaria;
                animation-name: slide;
                animation-duration: .8s;

                @include keyframes-2(slide)
            }
        }
    }

    .buttons{
        margin-top: 63px;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        row-gap: 42px;

        .continue-button{
            width: 308px;
            height: 54px;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 1.8rem;
            font-weight: 500;
            color: #ffffff;
            background-color: $cor-primaria;
            box-shadow: 0px 4px 10px #A1C3FC;
            border-radius: 5px;
            transition: .2s ease-in-out;

            &:hover{
                background-color: #7bc490;
                transition: .2s ease-in-out;
            }

            @media (max-width: 326px) {
                width: 100%;
            }
        }

        .skip-button{
            font-size: 1.8rem;
            color: $cor-primaria;
            border-bottom: 2px solid #ffffff;

            &:hover{
                border-bottom: 2px solid #7bc490;
            }
        }
    }
}